[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[pager]
  core = less -F
[user]
	email = me@jonchurch.com
  name = Jon Church
[includeIf "gitdir:~/Work/"]
  path = .gitconfig-work
[alias]
  root = rev-parse --show-toplevel
	pr = "!f() { git fetch -fu ${2:-upstream} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"
  conflicts = diff --name-only --diff-filter=U
  fix = "!f() { ${EDITOR} `git conflicts`; }; f"
[init]
  defaultBranch = main
[commit]
  verbose = true
[feature]
	manyFiles = 1
