[core]
  editor = nvim
  excludesfile = ~/.gitignore_global
  pager = less -FX
[credential "https://github.com"]
  helper = !/usr/bin/gh auth git-credential
[user]
  email = me@jonchurch.com
  name = Jon Church
[alias]
  root = rev-parse --show-toplevel
  conflicts = diff --name-only --diff-filter=U
  fix = "!f() { ${EDITOR} `git conflicts`; }; f"
  recent = "!git for-each-ref --sort=-committerdate refs/heads/ --format='%(refname:short)' | fzf --height 20% --reverse | xargs git checkout"
[init]
  defaultBranch = main
[commit]
  verbose = true
; [feature]
; 	manyFiles = 1
[push]
  autoSetupRemote = true
